body{
    background-color: blue;
    
}

.bigHeader{
    background-color: red;

}
.navBar{
    display:inline-flex;
    font-size: 20px;
    
   
}

#createAcc{
    color:white
}

.image1{
    float:left;
    height:200px;
    width:200px;

}

.title1{
    text-align:center;
    text-shadow: 3px 3px black;
    margin-top:10rem;
    color:rgb(153, 9, 9);
}

.title2{
    text-align:center;
    text-shadow: 3px 3px black;
    margin-top:10rem;
    color:rgb(153, 9, 9);
}

.paragraph1{
    text-align:center;
  font-size:30px;
    color:rgb(153, 9, 9);

}

.redFair{
    align-items: right;
    font-size: 30px;
    
   
    margin-left:10rem;
    position:relative;
    

}

#bigForm{
    align-items: center;
}

.app-link{
    color:black;
}

.log2{
    font-size: 30px;
    align-items:center;
    margin-right:190px;
}

.log3{
    margin-right:170px;
    font-size: 30px;

}

.log4{
font-size: 30px;
}

.log5{
font-size: 30px;
}

.pw3{
    font-size: 30px;
    text-align:center;
}

.Logmein{
    text-align:center;
    margin-right: 170px;
    text-shadow: 3px 3px white;
}

#nameText{
   border-radius: 10px;
   border-style:double;
   height:3rem;
}

#myPassword{
    border-radius:10px;
    border-style:double;
    height:3rem;
}


